// All variables are stored in this file..

// Body variables
$back_color: #778fb5;
$text_color: #eee;
$default_font: Geneva, sans-serif;
$container_width: 960px;

// Nav bar variables
$top_marg_left: 5px;
$nav_height: 50px;
$nav_marg_bottom: 5px;
$nav_color: #444;
$nav_ul_marg_right: 5px;
$nav_ul_marg_top: 10px;

// Image and thumbnail variables
$thumb_width: 200px;
$thumb_height: 150px; 
$default_radius: 4px;
$thumb_border: 1px solid white;
$image_marg: 5px;
$image_padding: 5px;
$var_width1: 72%;
$var_width2: 65%;

// Main section variables
$section_margin_left: 5px;

// Bottom section variables
$bottom_margin: 15px;
$bottom_padding: 5px;
$bottom_para_margin: 5px;
